# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Временные файлы
*.log
*.sqlite3
.DS_Store

# Базы данных
*.db
diary.db
instance/ 